 
/* common styles*/

 *{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

/* End of common styles*/


/* landing section*/
.section-1{
  background-image: url("./img/backgrounds/h_img.jpg");
  background-position: center;
  min-height: 100vh;
  background-size: cover;
  color: white;
  position: relative;
}

#click-mouse {
  margin-top: 70px;
};

/*End of landing section */

/* about us */

#about{
 height: 30vh;
 margin-bottom: 30px;
}

.about h1 {
  font-weight: 700;
  margin-top: 30px;
}

/* End of about us  */

.services {
  height: 45vh;
  background-image: url("./img/backgrounds/s_image.jpg");
}

.services h1{
  margin-top: 30px;
}